* { 
	box-sizing: border-box;
	margin: 0;
}

body {
	min-width: 600px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.5em;
}

blockquote {
		font-size: 0.8em;
}


#wrapper {
	background-color: #E9E9EC;
}

.agentpic {
	border-radius: 50%;
	height: auto;
	width: 15em;
}



p {
	text-align: justify; font-size: 1em;
}

ul{
	font-size: 1em;
}
header {
	color: white;
	background-color: #49A2CF;
	background-image: url(images/Real-Estate-Logo.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	min-height: 30px;
	text-align: center;
}

main { 
	background-color: #FFFFFF;
	color: #000000;
	padding: .75em; 
}

#copyright {text-align:center;}

#Home{	float: right; padding-right: 5px;}


aside { 

	margin: 0 5px;
	line-height: 2em;
	font-size: 0.9em;
}

footer {
	background-color: #49A2CF;
	font-size: .8em;
	padding: 0.5em;
	color: white;
}

img { padding: .6em; }

h6 {
	color: #DC250D;
}
h3{
	background-color: #E9E9EC; 
	text-align: center;
	color: #DC250D;
}

.floatRight{
	float:right;
	margin-left:75px;
}


/* Styles to configure navigation links as horizontal areas */
nav ul { 
	list-style-type: none;
	padding-left: 0; 
	border-top: 1px solid #EEEEEE;
}

nav li { 
	border-bottom: 1px solid #EEEEEE;  
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
}

nav a { 
	text-decoration: none;
	font-weight: bold;
}

nav a:link , nav a:visited{
	color: #555555;
}
nav a:hover {
	color: #DC250D;
}

nav #page { 
	font-weight: bold;
	color: #DC250D; 
}

/* Force older versions of Internet Explorer to display these HTML5 elements with block display. */
header, nav, main, footer, aside, figure { 
	display: block; 
}

.contactTable {
	background-color: #E9E9EC;
	font-size: 1em;
	width: 100%; 
}

.contactTable input, .contactTable select, .contactTable textarea {
	width: 100%;
}

button
{
	background-color: #49A2CF;
	color: white;
}

/* Medium Display */
@media (min-width: 600px) {
	#wrapper { 
		display: grid; 
		grid-template-columns: auto 300px;
		grid-template-rows: auto auto auto auto;
	}
	header { 
		grid-row: 1 / 2; 
		grid-column: 1 / 3; 
		padding: 0.5em 0;
	}
	nav    { 
		grid-row: 2 / 3; 
		grid-column: 1 / 3; 
	}
	main   { 
		grid-row: 3 / 4; 
		grid-column: 1 / 2; 
	}
	aside  { 
		grid-row: 3 / 4; 
		grid-column: 2 / 3; 
	}
	footer {
		grid-row: 4 / 5; 
		grid-column: 1 / 3; 
	}
	nav ul { 
		display: flex; 
		flex-direction: row; 
		flex-wrap: nowrap; 
		justify-content: space-around; 
	}
	nav ul li { 
		border-bottom: none; 
	} 
}

/* Large Display */
@media (min-width: 1024px) {
	body     { 
		background-color: #D3D2D9; 
	}
	nav ul { 
		display: flex; 
		flex-direction: column; 
		flex-wrap: nowrap; 
	}
	#wrapper { 
		width: 80%; 
		margin: auto; 
		max-width: 1200px; 
		display: grid; 
		grid-template-columns: 150px auto 300px;
		grid-template-rows: auto auto auto ; 
	}
	header { 
		grid-row: 1 / 2; 
		grid-column: 1 / 4; 
		padding: 1.77em 0;
	}
	nav    { 
		grid-row: 2 / 3; 
		grid-column: 1 / 2; 
	}
	main   { 
		grid-row: 2 / 3; 
		grid-column: 2 / 3; 
	}
	aside  { 
		grid-row: 2 / 3; 
		grid-column: 3 / 4; 
	}
	footer { 
		grid-row: 3 / 4; 
		grid-column: 1 / 4; 
	}

} 


.floatRight {
	float: right;
}


.clearBoth {
	clear: both;
}

#gallery {
	position: relative; 
}
#gallery ul {list-style-type: none;
	width: 300px; }
	#gallery li { display: inline; 
		float: left;
		padding: 10px; }

		#gallery img {border-style: none; }
		#gallery a { text-decoration: none;
			font-style: italic;  
			color: #333; }
			#gallery span {display: none; }
			#gallery a:hover span {display: block;     
				position: absolute;
				top: 10px;
				left: 300px; 
				text-align: center; } 

				.imageCell{
					width: 30%; height: auto;
				}

				.fullWidth{
					width: 100%; height: auto;
				}

				.listingTable tr:nth-child(odd){
					background-color: #E9E9EC;
				}

				.listingTable {
					border-spacing: 5px;
				}

				.listingTable td{
					padding: .3em;
				}

				.propertySummary {
					width: 100%; 
					font-size: .8em;
				}

				.propertySummary tr:nth-child(odd){
					font-weight: bold;
					background-color: #E9E9EC;
				}

				.floatButton {
					float: right;
				}

				#messageHeight {
					height: 10em;
				}

				.centerAlign {
					text-align: center;
				}

				.price {
					width: 100%;
					background-color: #E9E9EC;
				}

				.homeIcon {
					list-style-image: url(images/ul-home-small.png);
				}